<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />

    <add name="ConnStringDb1" connectionString="Data Source= NOOPUR-PC ;Initial Catalog=automobile; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!--<add name="ConnStringDb1" connectionString="TODO:"></add>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>